.container-options{
    margin-top: 50px;
    display: flex;
    animation: lazy-in 1s ease-in 0.5s;
    animation-fill-mode: forwards;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.options-item{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.options-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.options-circle{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    font-weight: bold;
    animation: lazy-op 1.5s ease;
    animation-fill-mode: forwards;
}


@keyframes lazy-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes lazy-op {
    0%{
        opacity: 0;
        bottom: -250px;
        right: -150px;
    }
    100%{
        transform: scale(1.2);
        bottom: -80px;
        right: -40px;
        opacity: 1;
    }
}