input:focus,
textarea:focus {
    outline: none;
}

.section-register{
    min-height: 40vh;
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 50px;
}

.titulo-register{
    font-size: 32px;
}

.top-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-register{
    width: 95%;
    min-width: 350px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-register-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 0;
}

.form-register-input > input{
    height: 35px;
    width: 100%;
    padding-left: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #f5b721;
}

.button-card{
    width: 100px;
    font-size: 16px;
    font-weight: 550;
}

fieldset.form-register-input{
    border-color: #f5b721;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px 5px;
}
fieldset.form-register-input > legend{
    padding: 5px;
}
fieldset.form-register-input > legend > small{
    font-size: 11px;
}

/* MENUS PIZZA ASADO ETC */

.combo-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 15px;
}
.combo-section > div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
    width: 100%;
    position: relative;
}

/* TITULO Y PRECIO */ 

.option-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.option-container > label{
    width: 80%;
}
.option-container > p{
    width: 17%;
}

/* ITEMS */ 

ul{
    text-align: left;
    margin-left: 45px;
    font-size: 14px;
}

/* CHECKBOX */ 

.checkbox-style > input{
    display: none;

}
.checkbox-style > span{
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 20%;
    transition: all 0.5s;
    border: 1px solid #f5b721;
}
.checkbox-style{
    font-size: 15px;
    cursor: pointer;
}
.checkbox-style input:checked ~ span{
    box-shadow: 0px 0px 10px 0px #f5b721;
}
.checkbox-style > span:after{
    content: '';
    position: absolute;
    border: solid white;
    border-width: 0 2px 2px 0px;
    transform: rotate(45deg);
    width: 5px;
    height: 10px;
    left: 5px;
    top: 2px;
    opacity: 0;
    transition: .1s ease;
}
.checkbox-style input:checked ~ span:after{
    opacity: 1;
}

/* SOLAPA AMARILLA */ 

.yellow-form{
    width: calc(100vw - (100vw - 100%));
    height: 70px;
    display: block;
    position: fixed;
    bottom: 0px;
    color: black;
    background-color: #f5b721;
    border-radius: 20px 20px 0px 0px;
    transition: all 1s;
}
.yellow-form.open{
    height: 90vh;
    transition: all 1s;
}

.yellow-form > h2{
    width: 75%;
    font-size: 32px;
    text-align: left;
    margin: 0 20px 20px 20px;
}

.yellow-form > p{
    font-size: 14px;
    text-align: justify;
    margin: 0 20px 20px 20px;
}

.form-register-input.datetime{
    margin-right: 20px;
    max-width: 110px;
    display: flex;
    flex-direction: column;
}
.form-register-input.quantity{
    margin-bottom: 20px;
}
.form-register-input.quantity > label{
    width: 100%;
    text-align: center;
}

.date-event{
    width: 100%;
    max-width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    align-self: center;
    margin: 10px;
}
.event-and-quantity{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.quantity-event{
    width: 40%;
    max-width: 110px;
    align-self: center;
}

/* BOTON SOLAPA AMARILLA */ 

.button-open-form{
    cursor: pointer;
    width: 150px;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: #BE1615;
    background-color: #BE1615;
    align-self: center;
    cursor: pointer;
}
.button-close-form{
    position: absolute;
    color:black;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
}
.yellow-form-small{
    height: 70px;
}

/* BOTONES formulario */ 

button {
    width: 150px;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: #BE1615;
    background-color: #BE1615;
    align-self: center;
    cursor: pointer;
}

.button-cancel{
    cursor: pointer;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    border: thin;
}