.body-loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-img{
    width: 150px;
    height: 150px;
    animation: spin 2000ms infinite;
}
.body-loaded{
   display: none;
   opacity: 0;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}